<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <nav>
      <div class="site-title">
        <a href="/"><h1>Home</h1></a>
        <p>EJS learning</p>
      </div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">Show User</a></li>
      </ul>
    </nav>

    <div class="create-blog content">
      <form>
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" required />
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" required />
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />
        <label for="photo">Photo:</label>
        <input type="file" id="photo" name="photo" />
        <button>Submit</button>
      </form>
    </div>
  </body>
</html>
